# Mac
.DS_STORE

# Idea
.idea
.imp
*.iml
*.ipr
*.iws
local.properties

# Build
out
/dist
/bin
build/
target/
dependency-reduced-pom.xml
.gradle
keystore.properties

# Engine
*.log*
sola-editor.config.json
saves
